body {
  background-color: #c4e6ea;
}
.map-wrapper {
  position: relative;
  display: inline-block;
  border-style: ridge;
  border-color: #040B54;
  box-shadow: 5px 10px 15px #040B54;
  border-width: 5px;
}
.food-spot {
  position: absolute;
  transform: translate(-50%, -100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.food-spot .material-icons {
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}
#spot-1 {
  top: 35%;
  left: 21%;
}
#spot1 {
  top: 23%; 
  left: 21%;
}
#spot-2 {
  top: 75%;
  left: 38%;
}
#spot2 {
  top: 65%; 
  left: 38%;
}
#spot-3 {
  top: 57%;
  left: 80%;
}
#spot3 {
  top: 45%; 
  left: 80%;
}
#spot-4 {
  top: 37%;
  left: 80%;
}
#spot4 {
  top: 27%; 
  left: 80%;
}
#spot-5 {
  top: 20%;
  left: 40%;
}
#spot5 {
  top: 8%; 
  left: 40%;
}
.info-card {
    background-color: white;
    position: absolute;
    font-size: 65%;
    left: 50%;
    width: 100px;
    height: auto;
    pointer-events: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, 10px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}

@media (max-width: 700px) {
    .container {
        overflow-x: auto;
    }
    .map-wrapper {
        min-width: 800px;
        display: block;
        -webkit-overflow-scrolling: touch;
    }

    .map-wrapper img {
        min-width: 600px;
        height: auto;
    }

    
}
