body {
  background-color: #c4e6ea;
}
.map-wrapper {
  position: relative;
  display: inline-block;
  border-style: ridge;
  border-color: #040B54;
  box-shadow: 5px 10px 15px #040B54;
  border-width: 5px;
}
.food-spot {
  position: absolute;
  transform: translate(-50%, -100%);
  cursor: pointer;
}
.food-spot .material-icons {
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}
#spot-1 {
  top: 48%;
  left: 39%;
}
#spot1 {
  top: 30%; 
  left: 42%;
}
#spot-2 {
  top: 48%;
  left: 38%;
}
#spot2 {
  top: 28%; 
  left: 35%;
}
#spot-3 {
  top: 48%;
  left: 28%;
}
#spot3 {
  top: 48%; 
  left: 31%;
}
#spot-4 {
  top: 27%;
  left: 28%;
}
#spot4 {
  top: 49%; 
  left: 24%;
}
#spot-5 {
  top: 49%;
  left: 26%;
}
#spot5 {
  top: 9%; 
  left: 28%;
}
.info-card {
    background-color: white;
    position: absolute;
    font-size: 65%;
    left: 50%;
    width: 80px;
    height: auto;
    pointer-events: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, 10px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}
@media (max-width: 700px) {

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .map-wrapper img {

        width: 100vw;
        height: auto;
    }
    .food-spot .material-icons {
        font-size: 24px;
    }
    .info-card {
        width: 100px;
        font-size: 55%; 
    }
    #spot-1 {
      top: 37%;
      left: 50%;
    }
    #spot1 {
      top: 31%; 
      left: 59%;
    }
    #spot-2 {
      top: 36%;
      left: 47%;
    }
    #spot2 {
      top: 30%; 
      left: 39%;
    }
    #spot-3 {
      top: 27%;
      left: 53%;
    }
    #spot3 {
      top: 20%; 
      left: 60%;
    }
    #spot-4 {
      top: 25%;
      left: 47%;
    }
    #spot4 {
      top: 19%; 
      left: 47%;
    }
    #spot-5 {
      top: 27%;
      left: 75%;
    }
    #spot5 {
      top: 21%; 
      left: 75%;
    }
}