.card {
    width: 40vw !important;
    --bs-card-spacer-y: 2rem;
    --bs-card-spacer-x: 3rem;
    --bs-card-bg: #c4e6ea;
    /* margin: 0 auto; */

}

.btn-primary {
    --bs-btn-bg: #732463;
    --bs-btn-border-color: #732463;
    --bs-btn-hover-bg: #732463;
    --bs-btn-hover-border-color: #732463;
    --bs-btn-active-bg: #732463;
    --bs-btn-active-border-color: #732463;
}

body{
    background-color: #c4e6ea;
}
.card-img-top {
    width: 100%;
    height: 40%;
}

footer{
    background-color: #c4e6ea;
}